{% load static %}

{% comment %} {% url 'home' as home_url %} {% endcomment %}
{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeStar Blog</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">About</a>
      </li>
    </ul>
  </nav>

</body>
</html>
  