{% load static %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeStar Blog</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{{ home_url }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{{ about_url }}">About</a>
      </li>
    </ul>
  </nav>

</body>
</html>
  